
.info-container{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    height: calc(100% - 4vh);    
    margin: 1vh;
    display: flex;
    justify-content: start;
    align-items: left;
    flex-direction: column;
    z-index: 1;

}
.info-card{
    /* background-color: rgba(250, 235, 215, 0.1); */
    color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: safe;
    width: 100%;
    height: 100%;
    padding: 1.5vh 2.5vw 0;
    
}
.title-date{
    font-size: 1.7em;
    line-height: 1em;
    font-weight: bold;
}
.language-genres-runtime{
    font-size: 1em;
    font-weight: regular;
}
.overview-title{
    font-size: 1.5em;
    font-weight: bold;
}
.overview-content{
    font-size: 1em;
    font-weight: regular;
}
.rating{
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    gap: 2vw;
}
.rating span{
    color: black;
    border-radius: 25px;
    padding: 0.5vh 1vw;
    font-size: 0.8em;
}