.lightbox {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container {
  position: relative;
  width: 80vw;
  height: 80vh;
}

.lightbox iframe {
  top: 0;
  left: 0;
  width: 85%;
  height: 85%;
  border: none;
  filter: drop-shadow(0 0 30px rgba(255, 255, 255, 0.5));
}

.lightbox button {
  position: absolute;
  bottom: 5vh;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  width: 5em;
  color: white;
  border: none;
  font-size: 2rem;
  padding: 0.5rem;
  cursor: pointer;
}

.lightbox button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}