.reference{
    position: relative;

}
.collection {
    width: 100%;
    height: 250px;
    overflow-x: scroll;
    scrollbar-width: none;
    border: 0px solid yellow;
    display: flex;
    flex-direction: column;
    justify-content: end;
    scroll-snap-align: center;
    transition: all 0.5s;

}

.collection::-webkit-scrollbar {
    display: none;
}


.collection-title {
    position: absolute;
    top: -25px;
    left: 0;
    width: 15%;
    font-size: 2rem;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    z-index: 110;
}

.collection-display {
    background-color: rgba(250, 235, 215, 0.0);
    display: inline-flex;
    
    
}

