.gradient-bottom{
    /* display: none; */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 75vh;
    background: linear-gradient(
        0deg,
        rgb(0, 0, 0),
        rgb(0, 0, 0),
        rgba(0, 0, 0),
        rgba(0, 0, 0, 0)
    );
    z-index: 0;
}


